flake8==3.9.2
flake8-docstrings==1.6.0
pytest==6.2.5
python-dotenv==0.19.0
requests==2.26.0
black==23.12.0
aiogram==3.3.0
asyncio==3.4.3
motor==3.1.2
pymongo==4.6.1
aiofiles==23.2.1
aiohttp==3.9.2
starlette==0.36.1
starlette-admin==0.13.1
itsdangerous==2.1.2
uvicorn==0.25.0
fasteners==0.19
mongoengine==0.27.0
Pillow==9.5.0
Markdown==3.5.1
pydantic==2.5.3
pydantic_core==2.14.6
odmantic==0.9.2
annotated-types==0.6.0
Jinja2==3.1.3
