<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>Административная панель чат-бота НЖКЦ</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
      :root {
      	--tblr-font-sans-serif: Inter,-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif !important;
      }
    </style>
    {% if config.gtag %}
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id={{config.gtag}}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{config.gtag}}");

    </script>
    {% endif %}
</head>
<body>
<div class="page">
    <div class="page-body">
        <div class="container-xl">
            <h1>Административная панель чат-бота НЖКЦ</h1>
            <div class="row row-cards" data-masonry='{"percentPosition": true }'>
                <div class="col-sm-6 col-lg-4">
                    <div class="card">
                        <!-- Card footer -->
                        <div class="card-footer">
                            <a href="/admin" class="btn btn-primary">Открыть админ-панель</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('statics', path='js/vendor/masonry.min.js') }}"></script>
</body>
</html>
